@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');




*{

    margin: 0;
    padding: 0;
}




:root{

    --LightCyan: hsl(193, 38%, 86%);
    --NeonGreen: hsl(150, 100%, 66%);

   --GrayishBlue: hsl(217, 19%, 38%);
    --DarkGrayishBlue: hsl(217, 19%, 24%);
    --DarkBlue: hsl(218, 23%, 16%);

}




body{
    background-color: var(--DarkBlue);
    font-family: 'Manrope', sans-serif;
}

.cardComponent{
    width: 30rem;
    height: auto;
    color: white;
    margin: auto;
margin-top: 8rem;
    background-color: var(--DarkGrayishBlue);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.1);
    position: relative;
    /* overflow-x: visible; */
}

.MainQuote{
    font-size: 28px;
    padding: 8px;
    text-align: center;
margin-top: 8px;
}




.advice-id{
    padding: 17px;
    /* margin-top: 10rem; */
    text-align: center;
    color: var(--NeonGreen);
    font-size: 15px;
    letter-spacing: 4px;
}

.error-message{
    color: white;
    font-size: 28px;
    text-align: center;
}


/*_----------------------------------
   Media queries begins here
-----------------------------------*/



/*_----------------------------------
        Media for width:1024px
-----------------------------------*/
@media screen and (max-width:1024px){

    .cardComponent {
        width: 50rem;}

        .MainQuote {
            font-size: 52px;}

            .patternDivider {
                margin-left: 29px;
                width: 87%;}

                .icondice-A {
                    margin-left: 19.5rem;
                    width: 90px;
                    height: 90px;}
                    .loader{left: 24rem; width: 40px;
                        height: 40px;}

}




/*_----------------------------------
        Media for width:820px
-----------------------------------*/
@media screen and (max-width:820px){

    .cardComponent {width: 45rem;}

        .MainQuote {font-size: 46px;}

        .patternDivider {width: 97%; margin-left: -8px;}

        .icondice-A {width: 90px; height: 90px; margin-left: 16.5rem;}

}








/*_----------------------------------
        Media for width:768px
-----------------------------------*/
@media screen and (max-width:768px){
    .cardComponent {width: 41rem;}

    .MainQuote {
        font-size: 39px;}

        .patternDivider {width: 106%; margin-left: -29px;}


        .icondice-A {
            margin-left: 15.5rem;
            width: 80px;
            height: 80px}

            .loader{width: 50px;
               height: 50px;
            left: 18rem;
        }


}





/*_----------------------------------
        Media for width:540px
-----------------------------------*/
@media screen and (max-width:540px){
    .cardComponent {
        width: 31rem;
    }
    .loader {
        left: 14rem}

    .icondice-A {
        margin-left: 10.5rem;}
}




/*_----------------------------------
   Media for width:414px
-----------------------------------*/
@media screen and (max-width:430px){
    .cardComponent {
        width: 25rem;margin-left: 14px}
        .MainQuote {
            font-size: 33px;}

            .patternDivider { margin-left: -22px}

            .icondice-A {margin-left: 7.5rem}

            .loader {
                left: 11rem;
            }
}





/*_----------------------------------
   Media for width:414px
-----------------------------------*/

@media screen and (max-width:414px){
    .cardComponent {width: 24rem; margin-left: 14px;}
    .patternDivider {margin-left: -54px; width: 120%;}

    .icondice-A { margin-left: 6.5rem;}

    .icondice-A {
        width: 70px;
        height: 70px;
    }

    .loader{width: 40px;
        height: 40px; left: 10rem;}

  }






/*_----------------------------------
   Media for width:412px
-----------------------------------*/

@media screen and (max-width:412px){
    .patternDivider {
        margin-left: -53px;}
}





/*_----------------------------------
   Media for width:390px
-----------------------------------*/

@media screen and (max-width:390px){
    .patternDivider {
        margin-left: -54px;}
}



/*_----------------------------------
   Media for width:375px
-----------------------------------*/

@media screen and (max-width:375px){
    
    .cardComponent {width: 22rem; margin-left: 11px;margin-top: 2rem;}

    .patternDivider {
        margin-left: -42px;
        width: 116%;}
        .icondice-A { margin-left: 6.5rem}
        .loader{left: 10rem;}

  }

/*_----------------------------------
   Media for width:360px
-----------------------------------*/


  @media screen and (max-width:360px){

    .cardComponent { margin-left: 4px}
    .patternDivider {
        margin-left: -48px;}

  }


